---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import heroImage from '../assets/blog/about.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About" description="About me" />
		<style>
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			main p {
				margin-bottom: 1em;
				line-height: 1.7;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<img src={heroImage.src} alt="About" style="width:100%;border-radius:8px;margin-bottom:1.5em;" />
			<p>The best blog about AI</p>
<p>This is my journey to create AI for the world. AI that is safe. AI that is useful. AI that improves the lives of everyone.</p>
		</main>
		<Footer />
	</body>
</html>
