---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About" description="About me" />
	</head>
	<body>
		<Header />
		<main>
			<h1>About</h1>
			<hr />
		</main>
		<Footer />
	</body>
</html>
