---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import heroImage from '../assets/blog/index.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Home" description="Welcome to my website!" />
		<style>
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			main p {
				margin-bottom: 1em;
				line-height: 1.7;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<img src={heroImage.src} alt="Home" style="width:100%;border-radius:8px;margin-bottom:1.5em;" />
			<p>The marvelous, mechanical, mouse organ!</p>
<p>An excerpt from Bagpus, quite possibly the best kids show ever!</p>
		</main>
		<Footer />
	</body>
</html>
